[Unit]
Description=Disable BD PROCHOT processor flag whenever it gets enabled

[Service]
User=root
Type=exec
ExecStart=/usr/bin/disable-bd-prochot

[Install]
WantedBy=multi-user.target

