[Unit]
Description=Disable BD PROCHOT Processor Flag

[Service]
User=root
Type=exec
ExecStart=/usr/local/sbin/disable-prochot.py

[Install]
WantedBy=multi-user.target

